.content * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer  {
    -webkit-box-sizing: unset;
    -moz-box-sizing: initial;
    box-sizing: unset;
}

.header-language_select {
    width: auto !important;
}

h1 {
    font-size: 4.8em;
    float: none;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}

#main p {
    line-height: 1.6em;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0px 0px 10px;
    color:#565a5c;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
select,
textarea {
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    border: solid 1px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #565a5c;
    font-size: 1.5em;
    margin-top:0px;
}

select {
    height: 39px;
    padding-bottom: 7px;
}

@-moz-document url-prefix() {
    select {
        height: 41px;
        padding-bottom: 7px;
    }
}

input[type="submit"], a.button {
    width: 100%;
    font-size: 1.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    /*margin: 5px 0 10px;*/
    display: inline-block;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #6c6c6c;
    background-color: #404040;
    margin-top:0px;
}

input[type="submit"]:hover, a.button:hover {
    cursor: pointer;
    background-color: #ffeb7d;
}

blockquote {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.clear {
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.container-content{
    padding-left:41px;
}
.banner-centered {
    width: 875px;
    margin: 0px auto;
    text-align: center;
}

header .banner-centered h2 {
    font-weight: normal;
}

#main .banner-centered h2 {
    margin-bottom: 30px;
}

.shadowed {
    text-shadow: 3px 3px 4px rgba(1,1,1,.9);
    margin-right:60px;
    /* drop shadow */;
}

.blue {
    color: #1d3a6d;
}

.main-banner {
    width: 100%;
    height: 483px;
}

.main-banner.banner2 {
    width: 100%;
    height: 434px;
    background: url(/images/1/d/miv2/banner2.jpg) no-repeat top center;
    background-size: cover;
}

.main-banner.banner3 {
    width: 100%;
    height: 483px;
}

.main-banner .banner-centered {
    padding-top: 133px;
}

#main .banner-centered {
    margin-top: 50px;
}

.banner-form {
    border: 1px solid #121212;
 /* stroke */
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
 /* border radius */
    background-color: rgba(0,0,0,.5);
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
    /*filter: alpha(opacity=50);*/
 /* layer fill content */
    padding-top: 10px;
    margin: 50px 0px;
    margin: 0px\9;
    height: 78px;
}

.main-banner .banner-form {
    margin: 40px 0px 30px;
    margin:0\9;
}

.form-container {
    display: inline-block;
    width: 168px;
    margin: 0px 5px;
    padding-bottom: 10px;
    float:left;
}

.form-container.select-container {
    width: 220px;
    margin-left:8px;
    /*margin-left:22px\9;*/
}

.form-container.submit-container {
    width: 160px;
    position: relative;
    float:left;
}
.form-container.input-container-country {
    width: 67px;
    margin-right:0px;
}
.form-container.input-container{
    border: solid 1px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width:220px;
    padding-bottom:0px;
    background-color:#ffffff;
}

.input-container input[type="text"]{
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    float:left;
    width:159px;
    margin-bottom:0px;
    padding-right:0px;
}

.quoteFormFieldset1 input[type="text"], .quoteFormFieldset2  input[type="text"]{
    border-left: none;
    margin-left: -3px;
    width:33px;
}
.submit-container input[type="submit"] {
    font-family: Arial;
    font-weight:bold;
    text-shadow:1px 1px 3px #404040;
    color: #ffffff;
    border: 1px solid #315605;
 /* stroke */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
 /* border radius */
    background: #93b010;
 /* Old browsers */
    background: -moz-linear-gradient(top,  #93b010 0%, #6a9a17 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93b010), color-stop(100%,#6a9a17));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #93b010 0%,#6a9a17 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #93b010 0%,#6a9a17 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #93b010 0%,#6a9a17 100%);
 /* IE10+ */
    background: linear-gradient(to bottom,  #93b010 0%,#6a9a17 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93b010', endColorstr='#6a9a17',GradientType=0 );
 /* IE6-9 */
}

.submit-container:hover input[type="submit"] {
    background: -moz-linear-gradient(top,  #6a9a17 0%, #93b010 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a9a17), color-stop(100%,#93b010));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6a9a17 0%,#93b010 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6a9a17 0%,#93b010 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6a9a17 0%,#93b010 100%);
 /* IE10+ */
    background: linear-gradient(to bottom,  #6a9a17 0%,#93b010 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a9a17', endColorstr='#93b010',GradientType=0 );
 /* IE6-9 */
}

.submit-container span {
    position: absolute;
    bottom: 5px;
    font-size: 1.1em;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    font-family: Arial;
    text-align: center;
    right: 0px;
    line-height:10px;
}

.trust-rating {
    text-align: left;
}

.trust-rating span {
    margin-right: 10px;
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    float: left;
    background-position: 0px -111px;
}

.trust-ebay {
    width: 77px;
    height: 50px;
}

.trust-rating span.trust-pilot {
    background-position: 0px -171px;
    width: 198px;
    height: 50px;
}

.under-banner {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #d9d9da 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d9d9da));
    background: -webkit-linear-gradient(top, #ffffff 0%,#d9d9da 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#d9d9da 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#d9d9da 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#d9d9da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9da',GradientType=0 );
    border-bottom: 1px solid #b8b8b8;
    height: 52px;
}

ul.process {
    text-align: center;
    width: 100%;
    margin-left:15px;
}

.process li {
    display: inline-block;
    width: 32%;
    line-height: 52px;
    font-weight: bold;
    padding-right: 37px;
    position: relative;
}

.process li span.arrow {
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat right center;
    background-position: 0px 0px;
    width: 22px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -18px;
}

.process li.first-child span.arrow {
    right: 35px;
}

.process li span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.process li .number {
    font-size: 2.5em;
    margin-right: 10px;
}

.process li .process-text {
    font-size: 1.8em;
}

.process li.first-child {
    text-align: left;
}

.process li.last-child {
    text-align: right;
}

/* End Header */


/* Main Content */

#main {
    margin-top: 30px;
}

#main h2 {
    color: #565a5c;
    margin-bottom: 30px;
    text-align: center;
    font-size:2.0em;
}

#main h2.align-left {
    text-align: left;
}

#main h3 {
    color: #565a5c;
    font-weight: normal;
    margin-bottom: 30px;
}

.main-content {
    margin-top: 50px;
}

.half {
    width: 54%;
    float: left;
    padding-right: 0px;
}
.half2{
    width:46%;
}

.half.more-padding {
    padding-right: 15px;
}

.half .logos li {
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;
}

.half .logos li.telegraph {
    background-position: 0px -231px;
    width: 137px;
    height: 37px;
    left: -9px;
    margin-right: 5px;
}

.half .logos li.guardian {
    background-position: 0px -278px;
    width: 129px;
    height: 28px;
    top: -3px;
    margin-right: 12px;
}

.half .logos li.sunday-times {
    background-position: 0px -316px;
    width: 157px;
    height: 29px;
    top: -10px;
}

.half .logos li.daily-mail {
    background-position: 0px -355px;
    width: 152px;
    height: 25px;
    margin-right: 25px;
    margin-bottom:0px;
}

.half .logos li.bbc-radio {
    background-position: 0px -390px;
    width: 63px;
    height: 36px;
    top: 6px;
    margin-right: 7px;
    margin-bottom:0px;
}

.half .logos li.independent {
    background-position: 0px -436px;
    width: 208px;
    height: 29px;
    right: -5px;
    margin-bottom:0px;
}

.testimonial-image {
    float: left;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 46px;
    width: 76px;
    height: 76px;   
}

.testimonial-text{
    height:128px;
}
#testimonial-slider{
    padding-left:96px;
}
#testimonial-slider span{
    display:block;
    width:8px;
    height:8px;
    margin-right:10px;
    background-color:#a6a6a6;
    float:left;    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor:pointer;
}
#testimonial-slider span.selected{
   background-color:#565a5c
}
.testimonial-image0{
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: 0px -475px;
    width: 76px;
    height: 76px;
    display:block;
}
.testimonial-image1{
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: -82px -475px;
    width: 76px;
    height: 76px;
    display:block;
}
.testimonial-image2{
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: -177px -475px;
    width: 76px;
    height: 76px;
    display:block;
}
.testimonial-image3{
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: -269px -475px;
    width: 76px;
    height: 76px;
    display:block;
}
.testimonial-image4{
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: -366px -475px;
    width: 76px;
    height: 76px;
    display:block;
}


#main h2.love-heading {
    line-height: 30px;
    margin-bottom: 30px;
}

.love {
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: 0px -73px;
    width: 30px;
    height: 28px;
    margin: 0px 5px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.quarter {
    width: 30%;
    float: left;
    padding-right: 30px;
}

.quarter.last-child {
    width: 15%;
    padding-right:0px;
}
.quarter.second-last-child {
    width: 25%;
    padding-right:0px;
}
.quarter h3 {
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat left center;
    background-position: 0px -45px;
    padding-left: 35px;
}

.quarter p{
    margin-bottom:0px !important;
} 

.video-placeholder {
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: 0px -561px;
    width: 461px;
    height: 265px;
    margin: 0px auto;
}

/* End Main Content */


/* Footer */

footer {
    background: #f4f4f4;
    background: -moz-linear-gradient(top, #e7e6e6 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e6e6), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e7e6e6 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e7e6e6 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e7e6e6 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e7e6e6 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e7e6e6,endColorstr=#ffffff);
    border-bottom: 3px solid #e18022;
    height: 94px;
    position: relative;
}

.footer-copyright {
    clear: left;
    float: left;
    margin: 10px 0 0;
    padding: 0;
    width: 80%;
}

.footer-ebay-anchor {
    background-position: -36px -47px;
    display: block;
    height: 37px;
    text-indent: -9999px;
    width: 64px;
}

.footer-external {
    float: right;
    margin-top: 25px;
}

.footer-external-item {
    float: left;
}

.footer-navigation {
    float: left;
    margin-top: 25px;
}

.footer-navigation-anchor {
    color: #a6a6a6;
    font-size: 1.4em;
    text-decoration: none;
}

.footer-navigation-anchor:hover {
    color: #404040;
}

.footer-navigation-item {
    float: left;
    padding: 0 15px 0 0;
}

.footer-social-anchor-first {
    background-position: -135px -50px;
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 35px;
}

.footer-social-anchor-first:hover {
    background-position: -133px -9px;
}

.footer-social-anchor-last {
    background-position: -175px -49px;
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 35px;
}

.footer-social-anchor-last:hover {
    background-position: -173px -8px;
}

.footer-social-anchor-youtube {
    background-position: -135px -90px;
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 35px;
}

.footer-social-anchor-youtube:hover {
    background-position: -135px -90px;
}

.footer-social-item {
    background-color: #d3d3d3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
    float: left;
    margin-right: 15px;
}

.footer-social-item:hover {
    background-color: #404040;
}




/* Vertical Layout Changes */

.vertical .banner-centered {
    text-align: left;
}

.vertical .banner-form {
    text-align: center;
}

.vertical .main-banner .banner-form {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* End Vertical Layout Changes */

/* Horizontal Layout Changes */

.horizontal .banner-centered {
    text-align: left;
}

/* End Horizontal Layout Changes */
#userReasonsImac {
    cursor: pointer;
}

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

BUTTON.mfp-close {
    color: #c0c9d1 !important;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    *color: white;
}

BUTTON.mfp-close:hover {
    color: white !important;
    *opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
    *color: #c0c9d1;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px;
}

.mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px;
}

.mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -10px;
    margin-right: 3px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
    *height: 93%;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure {
    /* The shadow behind the image */
        ;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    };
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    };
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: -11px;
    right: -5px;
    padding-top: 0;
}

.ie9roundedgradient {
    display: inline-block\9;
    overflow: hidden\9;
    -webkit-border-radius: 6px\9;
    -moz-border-radius: 6px\9;
    border-radius: 6px\9;
    margin: 0px 0px 10px;
}
.ie9roundedgradient2 {
    display: inline-block\9;
    /*overflow: hidden\9;*/
    -webkit-border-radius: 9px\9;
    -moz-border-radius: 9px\9;
    border-radius: 9px\9;
    margin: 25px 0px 30px\9;    
    width:875px;
    width:875px\9;
    float:left\9;
}
.form-field-input-select {
    cursor:pointer;
    filter:alpha(opacity=0);
    margin:0;
    opacity:0;
    -webkit-appearance:none;
    left:0;
    position:absolute;
    top:0;
    z-index:2;
    width:100%;
    font-size:1.4em;
    color:#565a5c;
}
.form-field-input-select-arrow {
    background: url(/images/1/d/miv2/final-sprite-1.png) no-repeat top left;
    background-position: 5px -829px;
    cursor:pointer;
    float:right;
    height:100%;
    width:52px;
}
.form-field-input-select-text {
    cursor:pointer;
    float:left;
    font-size: 1.5em;
    line-height:15px;
    padding-left:5px;
    z-index:1;
    padding-top:11px;
    padding-bottom:10px;
}
.form-field-input-select-wrapper {    
    cursor:pointer;
    height:39px;
    position:relative;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0px 00px 10px;
    border: solid 1px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #565a5c;
    margin-top:0px;
}
.stat-text{
    margin-left:58px;
}

.quoteFormFieldset1,.quoteFormFieldset2 {
    float: left;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 47px;
    /*padding: 5px 5px 5px 5px;
    border: solid 1px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    color: #565a5c;
    height:30px;
    line-height:30px;
    margin-left:2px;
}

textarea:focus, input:focus{
    outline: 0;
}
.flag {
    float: left;
    padding: 0 !important;
    margin: 0 5px 0 0;
    width: 24px;
    height: 24px;
    background: url(/images/1/d/miv2/sprite_flag_small1.png) no-repeat;
}
.flag.af { background-position:  -0px -24px; height: 24px; width: 24px; }
.flag.al { background-position:  -0px -72px; height: 24px; width: 24px; }
.flag.dz { background-position:  -0px -96px; height: 24px; width: 24px; }
.flag.as { background-position:  -0px -120px; height: 24px; width: 24px; }
.flag.ad { background-position:  -0px -144px; height: 24px; width: 24px; }
.flag.ao { background-position:  -0px -168px; height: 24px; width: 24px; }
.flag.ai { background-position:  -0px -192px; height: 24px; width: 24px; }
.flag.aq { background-position:  -0px -216px; height: 24px; width: 24px; }
.flag.ag { background-position:  -0px -240px; height: 24px; width: 24px; }
.flag.ar { background-position:  -0px -264px; height: 24px; width: 24px; }
.flag.am { background-position:  -0px -288px; height: 24px; width: 24px; }
.flag.aw { background-position:  -0px -312px; height: 24px; width: 24px; }
.flag.au { background-position:  -0px -336px; height: 24px; width: 24px; }
.flag.at { background-position:  -0px -360px; height: 24px; width: 24px; }
.flag.az { background-position:  -0px -384px; height: 24px; width: 24px; }
.flag.bs { background-position:  -0px -408px; height: 24px; width: 24px; }
.flag.bh { background-position:  -0px -432px; height: 24px; width: 24px; }
.flag.bd { background-position:  -0px -456px; height: 24px; width: 24px; }
.flag.bb { background-position:  -0px -480px; height: 24px; width: 24px; }
.flag.by { background-position:  -0px -528px; height: 24px; width: 24px; }
.flag.be { background-position:  -0px -552px; height: 24px; width: 24px; }
.flag.bz { background-position:  -0px -576px; height: 24px; width: 24px; }
.flag.bj { background-position:  -0px -600px; height: 24px; width: 24px; }
.flag.bm { background-position:  -0px -624px; height: 24px; width: 24px; }
.flag.bt { background-position:  -0px -648px; height: 24px; width: 24px; }
.flag.bo { background-position:  -0px -672px; height: 24px; width: 24px; }
.flag.ba { background-position:  -0px -696px; height: 24px; width: 24px; }
.flag.bw { background-position:  -0px -720px; height: 24px; width: 24px; }
.flag.br { background-position:  -0px -744px; height: 24px; width: 24px; }
.flag.io { background-position:  -0px -768px; height: 24px; width: 24px; }
.flag.bn { background-position:  -0px -816px; height: 24px; width: 24px; }
.flag.bg { background-position:  -0px -840px; height: 24px; width: 24px; }
.flag.bf { background-position:  -0px -864px; height: 24px; width: 24px; }
.flag.bi { background-position:  -0px -888px; height: 24px; width: 24px; }
.flag.kh { background-position:  -0px -912px; height: 24px; width: 24px; }
.flag.cm { background-position:  -0px -936px; height: 24px; width: 24px; }
.flag.cv { background-position:  -0px -1008px; height: 24px; width: 24px; }
.flag.ky { background-position:  -0px -1032px; height: 24px; width: 24px; }
.flag.cf { background-position:  -0px -1056px; height: 24px; width: 24px; }
.flag.td { background-position:  -0px -1080px; height: 24px; width: 24px; }
.flag.cl { background-position:  -0px -1104px; height: 24px; width: 24px; }
.flag.cn { background-position:  -0px -1128px; height: 24px; width: 24px; }
.flag.cx { background-position:  -0px -1152px; height: 24px; width: 24px; }
.flag.cc { background-position:  -0px -1176px; height: 24px; width: 24px; }
.flag.co { background-position:  -0px -1200px; height: 24px; width: 24px; }
.flag.km { background-position:  -0px -1248px; height: 24px; width: 24px; }
.flag.ck { background-position:  -0px -1272px; height: 24px; width: 24px; }
.flag.cr { background-position:  -0px -1296px; height: 24px; width: 24px; }
.flag.ci { background-position:  -0px -1320px; height: 24px; width: 24px; }
.flag.hr { background-position:  -0px -1344px; height: 24px; width: 24px; }
.flag.cu { background-position:  -0px -1368px; height: 24px; width: 24px; }
.flag.cy { background-position:  -0px -1416px; height: 24px; width: 24px; }
.flag.cz { background-position:  -0px -1440px; height: 24px; width: 24px; }
.flag.cd { background-position:  -0px -1464px; height: 24px; width: 24px; }
.flag.dk { background-position:  -0px -1488px; height: 24px; width: 24px; }
.flag.dj { background-position:  -0px -1512px; height: 24px; width: 24px; }
.flag.dm { background-position:  -0px -1536px; height: 24px; width: 24px; }
.flag.do { background-position:  -0px -1560px; height: 24px; width: 24px; }
.flag.tp { background-position:  -0px -1584px; height: 24px; width: 24px; }
.flag.ec { background-position:  -0px -1608px; height: 24px; width: 24px; }
.flag.eg { background-position:  -0px -1632px; height: 24px; width: 24px; }
.flag.sv { background-position:  -0px -1656px; height: 24px; width: 24px; }
.flag.gq { background-position:  -0px -1704px; height: 24px; width: 24px; }
.flag.er { background-position:  -0px -1728px; height: 24px; width: 24px; }
.flag.ee { background-position:  -0px -1752px; height: 24px; width: 24px; }
.flag.et { background-position:  -0px -1776px; height: 24px; width: 24px; }
.flag.fk { background-position:  -0px -1824px; height: 24px; width: 24px; }
.flag.fo { background-position:  -0px -1848px; height: 24px; width: 24px; }
.flag.fj { background-position:  -0px -1872px; height: 24px; width: 24px; }
.flag.fi { background-position:  -0px -1896px; height: 24px; width: 24px; }
.flag.fr { background-position:  -0px -1920px; height: 24px; width: 24px; }
.flag.pf { background-position:  -0px -1944px; height: 24px; width: 24px; }
.flag.ga { background-position:  -0px -1992px; height: 24px; width: 24px; }
.flag.gm{ background-position:  -0px -2016px; height: 24px; width: 24px; }
.flag.ge { background-position:  -0px -2040px; height: 24px; width: 24px; }
.flag.de{ background-position:  -0px -2064px; height: 24px; width: 24px; }
.flag.gh { background-position:  -0px -2088px; height: 24px; width: 24px; }
.flag.gi { background-position:  -0px -2112px; height: 24px; width: 24px; }
.flag.gr { background-position:  -0px -2160px; height: 24px; width: 24px; }
.flag.gl { background-position:  -0px -2184px; height: 24px; width: 24px; }
.flag.gd { background-position:  -0px -2208px; height: 24px; width: 24px; }
.flag.gu { background-position:  -0px -2232px; height: 24px; width: 24px; }
.flag.gt { background-position:  -0px -2256px; height: 24px; width: 24px; }
.flag.gw { background-position:  -0px -2304px; height: 24px; width: 24px; }
.flag.gn { background-position:  -0px -2328px; height: 24px; width: 24px; }
.flag.gy { background-position:  -0px -2352px; height: 24px; width: 24px; }
.flag.ht { background-position:  -0px -2376px; height: 24px; width: 24px; }
.flag.hn { background-position:  -0px -2400px; height: 24px; width: 24px; }
.flag.hk { background-position:  -0px -2424px; height: 24px; width: 24px; }
.flag.hu { background-position:  -0px -2448px; height: 24px; width: 24px; }
.flag.is { background-position:  -0px -2472px; height: 24px; width: 24px; }
.flag.in { background-position:  -0px -2496px; height: 24px; width: 24px; }
.flag.id { background-position:  -0px -2520px; height: 24px; width: 24px; }
.flag.ir { background-position:  -0px -2544px; height: 24px; width: 24px; }
.flag.iq { background-position:  -0px -2568px; height: 24px; width: 24px; }
.flag.ie { background-position:  -0px -2592px; height: 24px; width: 24px; }
.flag.im { background-position:  -0px -2616px; height: 24px; width: 24px; }
.flag.il { background-position:  -0px -2640px; height: 24px; width: 24px; }
.flag.it { background-position:  -0px -2664px; height: 24px; width: 24px; }
.flag.jm { background-position:  -0px -2688px; height: 24px; width: 24px; }
.flag.jp { background-position:  -0px -2712px; height: 24px; width: 24px; }
.flag.je { background-position:  -0px -2736px; height: 24px; width: 24px; }
.flag.jo { background-position:  -0px -2760px; height: 24px; width: 24px; }
.flag.kz { background-position:  -0px -2784px; height: 24px; width: 24px; }
.flag.ke { background-position:  -0px -2808px; height: 24px; width: 24px; }
.flag.ki { background-position:  -0px -2832px; height: 24px; width: 24px; }
.flag.kw { background-position:  -0px -2880px; height: 24px; width: 24px; }
.flag.kg { background-position:  -0px -2904px; height: 24px; width: 24px; }
.flag.la { background-position:  -0px -2928px; height: 24px; width: 24px; }
.flag.lv { background-position:  -0px -2952px; height: 24px; width: 24px; }
.flag.lb { background-position:  -0px -2976px; height: 24px; width: 24px; }
.flag.ls { background-position:  -0px -3000px; height: 24px; width: 24px; }
.flag.lr { background-position:  -0px -3024px; height: 24px; width: 24px; }
.flag.ly { background-position:  -0px -3048px; height: 24px; width: 24px; }
.flag.li { background-position:  -0px -3072px; height: 24px; width: 24px; }
.flag.lt { background-position:  -0px -3096px; height: 24px; width: 24px; }
.flag.lu { background-position:  -0px -3120px; height: 24px; width: 24px; }
.flag.mo { background-position:  -0px -3144px; height: 24px; width: 24px; }
.flag.mk { background-position:  -0px -3168px; height: 24px; width: 24px; }
.flag.mg { background-position:  -0px -3192px; height: 24px; width: 24px; }
.flag.mw { background-position:  -0px -3216px; height: 24px; width: 24px; }
.flag.my { background-position:  -0px -3240px; height: 24px; width: 24px; }
.flag.mv { background-position:  -0px -3264px; height: 24px; width: 24px; }
.flag.ml { background-position:  -0px -3288px; height: 24px; width: 24px; }
.flag.mt { background-position:  -0px -3312px; height: 24px; width: 24px; }
.flag.mh { background-position:  -0px -3360px; height: 24px; width: 24px; }
.flag.mq { background-position:  -0px -3384px; height: 24px; width: 24px; }
.flag.mr { background-position:  -0px -3408px; height: 24px; width: 24px; }
.flag.mu { background-position:  -0px -3432px; height: 24px; width: 24px; }
.flag.yt { background-position:  -0px -3456px; height: 24px; width: 24px; }
.flag.mx { background-position:  -0px -3480px; height: 24px; width: 24px; }
.flag.fm { background-position:  -0px -3504px; height: 24px; width: 24px; }
.flag.md { background-position:  -0px -3528px; height: 24px; width: 24px; }
.flag.mc { background-position:  -0px -3552px; height: 24px; width: 24px; }
.flag.mn { background-position:  -0px -3576px; height: 24px; width: 24px; }
.flag.cs { background-position:  -0px -3600px; height: 24px; width: 24px; }
.flag.ms { background-position:  -0px -3624px; height: 24px; width: 24px; }
.flag.ma { background-position:  -0px -3648px; height: 24px; width: 24px; }
.flag.mz { background-position:  -0px -3672px; height: 24px; width: 24px; }
.flag.mm { background-position:  -0px -3696px; height: 24px; width: 24px; }
.flag.na { background-position:  -0px -3744px; height: 24px; width: 24px; }
.flag.nr { background-position:  -0px -3792px; height: 24px; width: 24px; }
.flag.np { background-position:  -0px -3816px; height: 24px; width: 24px; }
.flag.an { background-position:  -0px -3840px; height: 24px; width: 24px; }
.flag.nl { background-position:  -0px -3864px; height: 24px; width: 24px; }
.flag.nc { background-position:  -0px -3888px; height: 24px; width: 24px; }
.flag.nz { background-position:  -0px -3912px; height: 24px; width: 24px; }
.flag.ni { background-position:  -0px -3936px; height: 24px; width: 24px; }
.flag.ne { background-position:  -0px -3960px; height: 24px; width: 24px; }
.flag.ng { background-position:  -0px -3984px; height: 24px; width: 24px; }
.flag.nu { background-position:  -0px -4008px; height: 24px; width: 24px; }
.flag.nf { background-position:  -0px -4032px; height: 24px; width: 24px; }
.flag.kp { background-position:  -0px -4056px; height: 24px; width: 24px; }
.flag.mp { background-position:  -0px -4104px; height: 24px; width: 24px; }
.flag.no{ background-position:  -0px -4128px; height: 24px; width: 24px; }
.flag.om { background-position:  -0px -4176px; height: 24px; width: 24px; }
.flag.pk { background-position:  -0px -4200px; height: 24px; width: 24px; }
.flag.pw { background-position:  -0px -4224px; height: 24px; width: 24px; }
.flag.ps { background-position:  -0px -4248px; height: 24px; width: 24px; }
.flag.pa { background-position:  -0px -4272px; height: 24px; width: 24px; }
.flag.pg { background-position:  -0px -4296px; height: 24px; width: 24px; }
.flag.py { background-position:  -0px -4320px; height: 24px; width: 24px; }
.flag.pe { background-position:  -0px -4344px; height: 24px; width: 24px; }
.flag.ph { background-position:  -0px -4368px; height: 24px; width: 24px; }
.flag.pn { background-position:  -0px -4392px; height: 24px; width: 24px; }
.flag.pl { background-position:  -0px -4416px; height: 24px; width: 24px; }
.flag.pt { background-position:  -0px -4440px; height: 24px; width: 24px; }
.flag.pr { background-position:  -0px -4464px; height: 24px; width: 24px; }
.flag.qa { background-position:  -0px -4488px; height: 24px; width: 24px; }
.flag.cg { background-position:  -0px -4536px; height: 24px; width: 24px; }
.flag.ro { background-position:  -0px -4560px; height: 24px; width: 24px; }
.flag.ru { background-position:  -0px -4584px; height: 24px; width: 24px; }
.flag.rw { background-position:  -0px -4608px; height: 24px; width: 24px; }
.flag.sh { background-position:  -0px -4656px; height: 24px; width: 24px; }
.flag.kn{ background-position:  -0px -4680px; height: 24px; width: 24px; }
.flag.lc { background-position:  -0px -4704px; height: 24px; width: 24px; }
.flag.vc { background-position:  -0px -4752px; height: 24px; width: 24px; }
.flag.ws { background-position:  -0px -4776px; height: 24px; width: 24px; }
.flag.sm { background-position:  -0px -4800px; height: 24px; width: 24px; }
.flag.sa { background-position:  -0px -4848px; height: 24px; width: 24px; }
.flag.sn { background-position:  -0px -4896px; height: 24px; width: 24px; }
.flag.rs { background-position:  -0px -4920px; height: 24px; width: 24px; }
.flag.sc { background-position:  -0px -4944px; height: 24px; width: 24px; }
.flag.sl { background-position:  -0px -4968px; height: 24px; width: 24px; }
.flag.sg { background-position:  -0px -4992px; height: 24px; width: 24px; }
.flag.sk { background-position:  -0px -5016px; height: 24px; width: 24px; }
.flag.si { background-position:  -0px -5040px; height: 24px; width: 24px; }
.flag.sb { background-position:  -0px -5064px; height: 24px; width: 24px; }
.flag.so { background-position:  -0px -5088px; height: 24px; width: 24px; }
.flag.za { background-position:  -0px -5136px; height: 24px; width: 24px; }
.flag.kr { background-position:  -0px -5184px; height: 24px; width: 24px; }
.flag.es { background-position:  -0px -5256px; height: 24px; width: 24px; }
.flag.lk { background-position:  -0px -5280px; height: 24px; width: 24px; }
.flag.sd { background-position:  -0px -5304px; height: 24px; width: 24px; }
.flag.sr { background-position:  -0px -5328px; height: 24px; width: 24px; }
.flag.sz { background-position:  -0px -5352px; height: 24px; width: 24px; }
.flag.se { background-position:  -0px -5376px; height: 24px; width: 24px; }
.flag.ch { background-position:  -0px -5400px; height: 24px; width: 24px; }
.flag.sy { background-position:  -0px -5424px; height: 24px; width: 24px; }
.flag.tw { background-position:  -0px -5448px; height: 24px; width: 24px; }
.flag.tj { background-position:  -0px -5472px; height: 24px; width: 24px; }
.flag.tz { background-position:  -0px -5496px; height: 24px; width: 24px; }
.flag.th { background-position:  -0px -5520px; height: 24px; width: 24px; }
.flag.tg { background-position:  -0px -5544px; height: 24px; width: 24px; }
.flag.tk { background-position:  -0px -5568px; height: 24px; width: 24px; }
.flag.to { background-position:  -0px -5592px; height: 24px; width: 24px; }
.flag.tt { background-position:  -0px -5616px; height: 24px; width: 24px; }
.flag.tn { background-position:  -0px -5640px; height: 24px; width: 24px; }
.flag.tr { background-position:  -0px -5664px; height: 24px; width: 24px; }
.flag.tm { background-position:  -0px -5688px; height: 24px; width: 24px; }
.flag.tc { background-position:  -0px -5712px; height: 24px; width: 24px; }
.flag.tv { background-position:  -0px -5736px; height: 24px; width: 24px; }
.flag.ug { background-position:  -0px -5760px; height: 24px; width: 24px; }
.flag.ua { background-position:  -0px -5784px; height: 24px; width: 24px; }
.flag.ae { background-position:  -0px -5808px; height: 24px; width: 24px; }
.flag.uk { background-position:  -0px -5832px; height: 24px; width: 24px; }
.flag.uy { background-position:  -0px -5928px; height: 24px; width: 24px; }
.flag.uz { background-position:  -0px -5976px; height: 24px; width: 24px; }
.flag.vu { background-position:  -0px -6000px; height: 24px; width: 24px; }
.flag.va { background-position:  -0px -6024px; height: 24px; width: 24px; }
.flag.ve { background-position:  -0px -6048px; height: 24px; width: 24px; }
.flag.vn { background-position:  -0px -6072px; height: 24px; width: 24px; }
.flag.wf { background-position:  -0px -6120px; height: 24px; width: 24px; }
.flag.eh { background-position:  -0px -6144px; height: 24px; width: 24px; }
.flag.ye { background-position:  -0px -6168px; height: 24px; width: 24px; }
.flag.zm { background-position:  -0px -6192px; height: 24px; width: 24px; }
.flag.zw { background-position:  -0px -6216px; height: 24px; width: 24px; }


.borderRadius{-moz-border-radius:5px; border-radius:5px; }
.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0; line-height:18px;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{/*-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;*/}
.ddcommon .text{color:#565a5c;padding:0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{/*-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;*/}
.borderRadiusBtm .shadow{/*-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888*/}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .arrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .arrow:hover{/*background-position:0 100%;*/}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1;}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{ 
    width: auto !important;
    cursor:pointer; 
}
.dd .divider{ /*border-left:1px solid #c3c3c3; border-right:1px solid #fff;;*/ right:24px; }
.dd .arrow{width:16px;height:16px; margin-top:-8px; background:url(/images/1/d/miv2/final-sprite-1.png) no-repeat; background-position: -16px -839px;}
.dd .arrow:hover{/*background-position:0 100%;*/}
.dd .ddTitle{color:#000;background-color:white;}
.dd .ddTitle .ddTitleText{padding:3px 17px 0px 6px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding-left:6px; background-color:#fff; /*border-bottom:1px solid #c3c3c3;*/ text-align:left;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#565a5c; font-size:1.4em;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#f2f2f2; color:#000; border-bottom: 1px solid #d6d6d6;}
#countries_child ,#countries2_child,#countries3_child ,#countries4_child{ width: 250px; margin-top: 7px; }
#countries,#countries2,#countries3,#countries4{  display:none;

} 
#form_group_category_select option:first-child {
 display: none;
}
#form_group_category_select1 option:first-child {
 display: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {    
	.form-field-input-select-wrapper {
        margin-top:0px;
    }
    .green-grad{
        /*padding-top:9px;*/
        padding-bottom:9px !important;
    }    
}
@-moz-document url-prefix() {
    .form-field-input-select-wrapper {
        height:40px;
        margin-top:0px;
    }
    .green-grad{
        padding-top:9px !important;
        padding-bottom:9px !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/* IE10+ specific styles go here */
    .green-grad{
            padding-top:10px !important;
            padding-bottom:9px !important;
    }
}
@media screen and (max-device-width: 480px) {
 #testomonial1 p{  font-size:1.1em !important; }
 .half h2{ font-size: 2em !important; }
 .half2 h2{ font-size: 1.9em !important; }
 .form-field-input-select-text{ padding-left:0px; width:156px;  font-size:1.4em; text-align:left;}
 .form-field-input-select-wrapper{ /*padding-left: 3px;*/}
}
.testimonial-author{
   margin-bottom:0px !important;
}
::-webkit-input-placeholder {
   color: #565a5c;
}

:-moz-placeholder { /* Firefox 18- */
   color: #565a5c;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #565a5c;  
}

:-ms-input-placeholder {  
   color: #565a5c;  
}




#slides {
      display: none;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {      
      display:none;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0 96px;
      float: left;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {      
      
    display:block;
    width:8px;
    height:8px;
    margin-right:10px;
    background-color:#a6a6a6;
    float:left;    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor:pointer;
    color:#a6a6a6;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      /*background-position: 0 -13px*/
      background-color:#565a5c;
      color:#565a5c;
    }

    .slidesjs-pagination li a:hover {
      /*background-position: 0 -26px*/
      background-color:#565a5c;
      color:#565a5c;
    }

    #slides a:link,
    #slides a:visited {
      color:#a6a6a6;
    }

    #slides a:hover,
    #slides a:active {
      color:#565a5c;
    }

    .navbar {
      overflow: hidden
    }       
    
    .popularServices {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .servicesAnchor {
    color:#093572;
    font-size:1.2em;
    padding-left:29px;
    text-decoration:none;
}
.servicesAnchor:hover {
    text-decoration:underline;
}
.servicesLi1 {
    float:left;
    height:17px;
    margin-bottom:16px;
    text-decoration:none;
    width:220px;
}
.servicesLi2 {
    float:left;
    height:17px;
    margin-bottom:16px;
    text-decoration:none;
    width:220px;
}
.servicesLi3 {
    float:left;
    height:17px;
    margin-bottom:16px;
    text-decoration:none;
    width:220px;
}
.servicesLi4 {
    float:left;
    height:17px;
    margin-bottom:16px;
    text-decoration:none;
}
.servicesTitle {
    color:#404040;
    font-family:ubuntu;
    font-size:2.4em;
    font-weight:normal;
    margin:34px 0 57px;
    padding:0;
    text-align:center;
}
.servicesUl {
    list-style-type:none;
    margin:0 0 0 47px;
    padding:0;
    width:846px;
}

.page-sprite {
    background-image:url('/images/1/d/index/index3/sprite_index2.png');
}

 body {
    -webkit-text-size-adjust: 100%;
 }