/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Roboto);
html{ 
background: #fff;
}

/* Space out content a bit */
body {
  font-family: 'Roboto', sans-serif;
}
.navg{
    background-color:#F5F5F5; border-bottom:1px solid #C1C1C1; box-shadow: 2px 0px 6px 2px #C1C1C1;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.highlight{
		background: rgba(0, 0, 0, 0.8);
		padding:20px;
		color:white;
	}
	
h2{
	color: #9D9D9D;
	font-weight:300;
	}
h3{
	color: #000;
	font-weight:300;
        font-family:"Fjalla One";font-weight:lighter
	}
        font-body{
            font-family:"Fjalla One";font-weight:lighter;
            font-size: 20px;
            line-height: 20px;
                
        }

h4{

	font-weight:300;
	}

.buffer{
	line-height:30px;
	}
.form_buffer{
	padding:5px;
	}

.hero-unit{
	padding-top:1px;
	padding-left:10px;
	border-bottom:1px solid #ebebeb;
	}
.lighter{
	font-weight:200;
	}

.bs-sidebar.affix-bottom, .bs-sidebar.affix{
	width: 241px;
	}


.bs-sidebar{
	
	text-shadow: 0 1px 0 #fff;
	background-color: #ebebeb;

	}
	
.red{
	color:#ee0000;
	text-decoration:none !important;
	}
	

#footer-nav{
	
	

	padding-top:0px;
	
	}

/* MENU */
#footer-nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	text-align: center;
}
#footer-nav ul li { display:inline; margin:0px;
}
#footer-nav ul li a { color: #4A4A4A; text-decoration:none; padding-right:15px; padding-left:15px; margin:0px;}
#footer-nav ul li a:last-child{
	 border-right:0px;
	}

#footer-nav ul li a:hover {color: #EA2101;}



/* Carousel Styling*/


			.list_carousel {
			
				margin: 0px;
				
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
			
				width: 100px;
				height: 100px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				
				margin-left: 10px;
			}
			.next {
			
				margin-right: 10px;
			}


		.number-container{
			padding:10px; padding-right:20px; padding-left:0px; border-right:1px solid #EBEBEB;
		}

@media (max-width: 767px) {
	
	.hidden-footer
	{
		display:none;
	}
	
	.number-container{
			border-right:none;
		}

}