/*
AKHWAT BUSINESS TEMPLATE BOOTSTRAP
BY: DEVELPIXEL;
----------------------------------
*/

/* IMPORT FONT */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800,700,600,400,300);

/* GENERAL STYLE */

body {
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
}
html,
body {
    height: 100%;
}
a{
    color: #09B0DA;
}
a:hover{
    text-decoration: none;
}
.color-accent-text{
    color: #09B0DA;
}
h1{

}
h2{

}
h3{
    margin-top: 15px;
    margin-bottom: 20px;
}
p{
    font-size: 15px;
    line-height: 27px;
    margin-top: 20px;
}
.img-responsive.full {
    width: 100%;
    position: relative;
}
#map{
    height: 240px;
    width: 100%;
}
.contact-section #map{
    height: 362px;
}
.video-wrapper iframe{

}
iframe{
    border:none;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul.inline {
    padding-left: 0;
}
ul.inline li {
    list-style: none;
}
ul.inline li {
    display: inline;
}
.dl-horizontal dt{
    position: relative;
    text-align: left;
}
.dl-horizontal dt span{
    position: absolute;
    right: 0;
    top: 0;
}
.dl-horizontal dd{
    padding-bottom: 8px;
    border-bottom:1px dotted #CCC;
    margin-bottom: 10px;
}
@media (max-width:767px){
    .dl-horizontal dt span{
        display: none;
    }   
    .dl-horizontal dd{
        margin-bottom: 15px;
        border:none;
    }
}
/* TEXT STYLE */
.head-title{
    margin: 40px 0 80px 0;
    font-size: 20px;
}
.head-title-1{
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #09B0DA;
}
.head-title-1 span{
    display: inline;
    padding: 10px 15px; 
    border: 2px solid #09B0DA;
    position: relative; 
}
.head-title span::before,.head-title span::after{
    height: 1px;
    width: 50px;
    content: '';
    display: block;
    background: #09B0DA;
    position: absolute;
    top: 50%;

    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.head-title span::before{
    left: -50px;
}
.head-title span::after{
    right: -50px;
}
.head-title:hover span::before{
    width: 80px;
    left: -80px;
}
.head-title:hover span::after{
    width: 80px;
    right: -80px;
}
/* LIST */
.list-1 {
    margin: 0;
    padding-left: 10px;
    list-style: none;
}
.list-1 li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}
.list-1 li:before{
    content: "\f105";
    position: absolute;
    left: 0;
    font-family: FontAwesome; /* FontAwesome or whatever */
    display: inline-block;
    color: #09B0DA;
}
/* ICONIZE */
/* ====== ICONIZE ========= */
.iconize {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    display: inline-block;
    border:1px solid #666;
    color: #666;
    margin-right: 5px;
    margin-bottom: 8px;
}
.iconize:hover {
    border-color:#111;
    color: #111;
}
.iconize.round {
    width: 25px;
    height: 25px;
    line-height: 24px;
    font-size: 13px;
    border-radius: 50%;
}
/* TEXT ALIGN */
.align-center{
    text-align: center;
}
/* TEXT STYLE */
.bigtext{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 0;
}
.bigtext span{
    background: #09B0DA;
    color: #FFF;
    padding: 2px;
    line-height: 5px;
    border-bottom: 3px solid #0a7d9a;
}
.smalltext{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
}
/* BIG ICON */
.big-icon{
    text-align: center;
    margin: 2px 0;
}
.big-icon i{
    font-size: 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    background: #09B0DA;
    color: #FFF;
    -webkit-transition: all 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease-in-out;
}
.big-icon h3{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 0px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.big-icon span{
    margin-top: 15px;
    line-height: 23px;
    font-size: 15px;
    display: block;
    font-weight: 300;
}
.big-icon.big-icon-2 i{
    color: #09B0DA;
    -webkit-transition: all 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease-in-out;
    border: 1px solid #09B0DA;
    background: transparent;
}
.big-icon:hover i{
    -webkit-box-shadow: inset 1px 2px 27px 11px rgba(30,30,35,0.1);
    -moz-box-shadow: inset 1px 2px 27px 11px rgba(30,30,35,0.1);
    box-shadow: inset 1px 2px 27px 11px rgba(30,30,35,0.1);
}
.big-icon.big-icon-2:hover i{
    background: #09B0DA;
    color: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* BUTTON */
.btn{
    padding: 13px 29px;
    border-radius: 0px;
    border:none; 
    margin-bottom: 2px;
    margin-top: 2px;

    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;

}
.icon-btn{
    font-size: 18px;
    margin-right: 8px;
    margin-left: 8px;
    line-height: 23px;
}
.btn-default{
    background-color:#09B0DA;
    color: rgba(255,255,255,0.95);
}
.btn-default:hover{
    background-color: rgba(10,147,182,1);
    color: rgba(255,255,255,0.8);
}
/* NAVBAR */
.navtop {
    padding: 10px 0;
    background: #5e5e5e;
    color: #888;

    -webkit-box-shadow: inset 0px -0.5px 0px 0px rgba(255,255,255,0.15);
    -moz-box-shadow: inset 0px -1px 1px 0px rgba(255,255,255,0.15);
    /* box-shadow: inset 0px -1px 1px 0px rgba(255,255,255,0.15); */
}
.navtop-fixed{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 99;
    top: 0;
}
.navbar-fixed-top{
    margin-top: 40px;
}
.navtop .icon-top{
    text-align: right;
}
.navtop a{
    color: #888;
    padding: 2px 3px;
    margin-left: 30px;
}
.navtop a i{
    font-size: 16px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.navtop a:hover i{
    color: #AAA;
}
nav.navbar {
    border-radius: 0;
    background: #494949;
    border-color: #494949;
    border:none;
    margin-bottom: 0;
}
.caret {
    display: inline-block;
    width: 6px;
    content:'';
    position: relative;
    height: 0px;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 0px solid;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
}
.caret:before {
    content:'\f107';
    font-family:'FontAwesome';
    height: 0;
    margin-left: 2px;
    top: -10px;
    font-size: 13px;
    position: absolute;
    width: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    border-bottom-color: #09b0da;
    background: #595959;
    color: #FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    border-bottom-color: #09b0da;
    background: #595959;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
}
.navbar-brand {
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
}
.dropdown-menu {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #595959;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
}
.dropdown-menu>li>a {
    display: block;
    padding: 11px 22px;
    clear: both;
    color: #BBB;
    white-space: nowrap;
    border-bottom:1px solid #656565;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #BBB;
    }
}
.dropdown-menu>li:last-child>a {
    border-bottom: none;
}

/* BREADCRUMB */
.breadcrumb{
    margin-bottom: 0;
    background: none;
    text-align: right;
    padding: 0;
    margin-top: 5px;
}
@media only screen and (max-width: 767px){
    .breadcrumb{
        text-align: left;
        margin-top: 10px;
    }
}
.breadcrumb>li+li:before{
    font-size: 13px;
    font-weight: 700;
    color: #FFF;
}
.breadcrumb a{
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
}
.breadcrumb .active{
    font-weight: 700;
    font-size: 13px;
    color: #0a7d9a;
}

/* SLIDER */
.cs { background-color: transparent; color: #FFF; }
.cs-pattern{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/fake-brick.png');
    background-attachment: scroll;
    background-repeat: repeat;
    z-index: 1;


}
.cs-layer{
    z-index: 2;
}
.sl1 .cs-img > img { background-color: #fa0; }
.nav-hide .cs-nav { display: none; }


/* Layer */
.logo1 {
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #fff;
}
.line1 {
    height: 0;
    border-bottom: 3px solid #fff;
    background-color: #fff;
    box-shadow: 0 1px 0 hsla(0,0%,0%,.15);
}
.line2 {
    width: 0;
    border-left: 1px dashed #fff;
}

.text {
    line-height: 1em;
    text-shadow: 0 2px 0 hsla(0,0%,0%,.05) !important;
    margin-bottom: 0 !important;
}

.text.thin { font-weight: 100; }
.text.light { font-weight: 200; }
.text.sem-bold { font-weight: 600; }
.text.ex-bold { font-weight: 700; }
.text.ul-bold { font-weight: 800; }

.text.f35 { font-size: 35px; }
.text.f90 { font-size: 90px; }
.text.f120 { font-size: 120px; }
.text.f150 { font-size: 150px; }
.text.f200 { font-size: 200px; }
.text.f400 { font-size: 400px; }


.text.tight { letter-spacing: -3px; }
.text.not-tight { letter-spacing: 5px; }

.img-box {
    padding: 0;
    background-color: #fff;
    border: 8px solid #fff;
    box-shadow: 3px 3px 0 hsla(0,0%,0%,.15);
}
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.text-black { color: hsla(0,0%,0%,0.1) !important; }
.ie .text-black { color: #e02a2a !important; }

/* LAYOUT */
.content-wrapper{
    padding-top: 40px;
    position: relative;
}
.content-hr{
    margin: 60px auto 20px auto;
    max-width: 1170px;
    width: 98%;
    display: block;
    border-top: 1px solid #cdcdcd;
}
.content-full-title{
    background: #09B0DA;
    width: 25%;
    padding: 15px;
    display: table-cell;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}
.content-full-title h3{
    font-weight: 800;
    color: #FFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.content-full-inside{
    width: 100%;
    display: table-cell;

    background: linear-gradient(306deg, #173d50, #207f85, #0d2e3f, #0c3b7b);
    background-size: 800% 800%;

    -webkit-animation: bg-animated 30s ease infinite;
    -moz-animation: bg-animated 30s ease infinite;
    -o-animation: bg-animated 30s ease infinite;
    animation: bg-animated 30s ease infinite;

}
.content-full-inside.portfolio-box, .content-full-title.portfolio-box{
    padding: 0;
}
@-webkit-keyframes bg-animated {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes bg-animated {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes bg-animated {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes bg-animated { 
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
.content-full-icon{
    display: block;
    font-size: 60px;
    margin-bottom: 10px;
}
.content-inside{
    width: 25%;
    float: left;
    color: #FFF;
    text-align: center;
}
.content-inside.empty{
    display: inline-block;
    content: ' ';
    height: 1px;
}
@media(max-width:768px){
    .content-inside.statistic{
        width: 33.333334%;
    }
    .content-inside.statistic i{
        font-size: 30px;
    }
    .content-inside.statistic h4{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
    .content-inside.statistic span{
        font-weight: 300;
    }
    .content-inside.empty{
        display: none;
    }
    .content-full-title{
        display: inline-block;
        top: -20px;
        padding: 1% !important ;
        height: inherit;
    }
    .content-full-title h3{
        margin: 0;
        top: 0;
        transform: none;
        font-size: 18px;
        font-weight: 700;
    }

}
.content-inside h4{
    font-size: 22px;
    font-weight: 700;
}
.content-inside span{
    font-weight: 600;
    font-size: 25px;
}
.content-full-inside,.content-full-title{
    vertical-align: middle;
    text-align: center;
    padding: 6%;
}
.content-full{
    display: table;
    width: 100%;
    position: relative;
}
.content-full.text-animation{
    padding: 120px 0;
    background-image: url(../images/bg_animate.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.content-full.text-animation .content-inside{
    width:100%;
}
.content-full.text-animation .text-animation-content,.content-full.text-animation .typed-cursor{
    font-size: 45px;
}
.content-full.text-animation .text-animation-content{
    font-weight: 300;
}
.content-full.portfolio-slider{
    display: block;
}
.content-full.contact-section{
    padding: 120px 0;
    background-image: url(../images/bg_contact.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: -30px;
}
.content-full.contact-section input,.content-full.contact-section textarea{
    background: transparent;
    border: 2px solid #FFF;
}
.content-full.contact-section input,.content-full.contact-section textarea,.content-full.contact-section input::-webkit-input-placeholder{
    color:#FFF;
    font-weight: 600;
}
.small-spacer{
    margin: 25px 0;
    display: block;
    width: 100%;
    height:1px;
    position: relative;
}
.mini-spacer{
    margin: 10px 0;
    display: block;
    width: 100%;
    height:1px;
    position: relative;
}
.medium-spacer{
    margin: 60px 0;
    display: block;
    width: 100%;
    height:1px;
    position: relative;
}

/* CONTENT IMG */
.content-img{
    padding-top: 20px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    //background: url('../images/');

    -webkit-box-shadow: 0px 0px 3px 0px rgba(193, 193, 193, 0.3);
    -moz-box-shadow:    0px 0px 3px 0px rgba(193, 193, 193, 0.3);
    box-shadow:         0px 0px 3px 0px rgba(193, 193, 193, 0.3);
}
/* CONTENT NEWS BOX */
.news-box-1{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border:1px solid #EFEFEF;
    margin-bottom: 15px;
}
.news-thumb{
    width: 100%;
    height: 180px;
}
.news-content-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 200px;
    height: 180px;
    background: rgba(255,255,255,0.9);
}
.news-content-wrapper h1{
    font-size: 18px;
    line-height:0;
    margin: 10px 0;
}
.news-content-wrapper p{
    font-size: 12px;
    line-height: 17px;
}
.news-content-wrapper .news-date{
    font-size: 12px;
}

/* ATTENTION TEXT */
.attention-text{
    display: block;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

/* FOOTER */
footer{
    background: #5e5e5e;
    padding: 60px 0 0 0;
    margin-top: 30px;
    display: block;
    width: 100%;
    color: #FFF;
    position: relative;
}
footer .back-to-top{
    width: 35px;
    height: 35px;
    background: #494949;
    position: absolute;
    bottom: 55px;
    left: 50%;
    margin-left: -15px;
    border-radius: 3px;
}
footer .back-to-top, footer .back-to-top a{
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
footer .back-to-top:hover{
    bottom: 60px;
}
footer .back-to-top:hover a{
    color: #09B0DA;
}
footer .back-to-top a{
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 2px;
    color: #656565;
}
footer .back-to-top a i{
    display: block;
}
footer .bottom-info{
    margin-top: 60px;
    padding: 6px 0;
    background: #494949;
    font-size: 12px;

    -webkit-box-shadow: 0px -1px 0px 0px rgba(255,255,255,0.08);
    -moz-box-shadow: 0px -1px 0px 0px rgba(255,255,255,0.08);
    box-shadow: 0px -1px 0px 0px rgba(255,255,255,0.08);
}
footer .bottom-info a{
    color: #FFF;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
footer .bottom-info a:hover{
    color: #09B0DA;
}
footer .bottom-info .bottom-link,footer .bottom-info .copyright{
    margin: 5px 0;
}
footer .bottom-info .bottom-link{
    list-style: none;
    padding-left: 0;
    font-size: 0;
    text-align: right;
}
@media only screen and (max-width: 767px){
    footer .bottom-info .bottom-link{
        text-align: left;
    }
}
footer .bottom-info .bottom-link li{
    display: inline-block;
    margin-left: 20px;
}
footer .bottom-info .bottom-link li:first-child{
    margin-left: 0;
}
footer .bottom-info .bottom-link li a{
    display: block;
    font-size: 12px;
}
footer .bottom-info .bottom-link li a:hover{
    color: #09B0DA;
}
.widget-container .widget{
    font-size: 13px;
}
.widget-container .widget{
    display: block;
    margin-bottom: 40px;
}
.widget-container .widget .title h3{
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}
.widget-container .widget .title{
    position: relative;
    display: block;
    padding-bottom: 10px;
    border-bottom: 3px double #888;
    margin-bottom: 15px;
}

.widget-container .widget .title::before{
    width: 20%;
    height: 3px;
    background: #09B0DA;
    position: absolute;
    bottom: -3px;
    content: '';
}
.widget-post .post-item{
    display: block;
    position: relative;
    margin-left: 85px;
    margin-bottom: 20px;
    min-height: 75px;
}
.widget-post .post-item:last-child{
    margin-bottom: 0;
}
.widget-post .post-item .post-thumbnail{
    position: absolute;
    left: -85px;
    padding: 2px;
    border: 1px solid #888;

}
.widget-post .post-item a p{
    color: #DDD;
}
.widget-post .post-item a .post-title{
    color: #FFF;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.widget-post .post-item a:hover .post-title{
    color: #09B0DA
}
.widget-post .post-item .post-title{
    font-size: 14px;
    margin: 0;
}
.widget-post .post-item p{
    font-size: 11px;
    line-height: 17px;
    margin-top: 6px;
    margin-bottom: 0;
}
.widget-links ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
    position: relative
}
.widget-links ul li{
    padding-left: 17px;
    position: relative;
}
.widget-links ul li:before{
    content: "";
    border-width: 5px 0px 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #09B0DA;
    position: absolute;
    top: 7px;
    left: 0px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.widget-links ul li:hover:before{
    left: 3px;
}
.widget-links ul li a{
    line-height: 24px;
    font-size: 13px;
    color: #FFF;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.widget-links ul li a:hover{
    color: #09B0DA;
}
.widget-categories ul{
    padding-left: 0;
    list-style: none;
    font-size: 0;
}
.widget-categories ul li{
    display: inline-block;
    position: relative;
    padding-right: 3px;
    margin-bottom: 3px;
}
.widget-categories ul li a{
    font-size: 11px;
    display: block;
    padding: 3px 6px;
    color: #FFF;
    background: #888;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.widget-categories ul li a:hover{
    background: #09B0DA;
}
.widget-contact ul{
    padding-left: 0;
    list-style: none;
}
.widget-contact li{
    position: relative;
    margin-left: 30px;
    margin-bottom: 15px;
}
.widget-contact li i{
    font-size: 23px;
    color: #09B0DA;
    position: absolute;
    left: -30px;
}
/* footer .widget{
    margin-bottom: 20px;
}
footer ul{
    padding-left: 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 3px;
}
footer .widget a{
    color: #FFF;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
footer .widget a:hover{
    text-decoration: none;
    color: #09B0DA;
}
footer .widget.tweet a{
    color: #09B0DA;
    display: inline;
    border-bottom: 1px dotted #09B0DA;

}
footer .widget.tweet p{
    display: inline;
}
footer .widget.tweet span{
    font-size: 12px;
    display: block;
    margin-top: 4px;
    font-style: italic;
}
footer .widget.contact li{
    position: relative;
    margin-left: 30px;
    margin-bottom: 15px;
}
footer .widget.contact li i{
    font-size: 23px;
    color: #09B0DA;
    position: absolute;
    left: -30px;
}*/

/* PAGE */
.page-title-wrapper{
    background: #09B0DA;
    padding: 20px 0;
    margin: 20px 0;
    margin-top: 130px;
    min-height: 10px;
    color: #FFF;

    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.15);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.15);
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.15);
}
.page-title-wrapper  h2{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

/* SERVICES */
.promote-text{
    padding: 20px 30px;
    border: 1px solid #EFEFEF;
    border-left: 5px solid #09B0DA;
    float: left;
    width: 100%;
}
.promote-text .left{
    float: left;
    display: inline-block;
    width: 80%;
}
.promote-text .right{
    text-align: right;
    float: left;
    display: inline-block;
    width: 20%;
}
@media only screen and (max-width: 999px) and (min-width: 768px){
    .promote-text .left{
        width:70%;
    }
    .promote-text .right {
        width: 30%;
    }
}
@media only screen and (max-width: 767px){
    .promote-text .left{
        width:100%;
    }
    .promote-text .right {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: 20px;
    }
}
.promote-text strong{
    font-size: 22px;
    line-height: 23px;
    font-weight: 400;
}
.promote-text p{
    margin: 0;
    line-height: 23px;
}
.service-box-1{
    margin-left: 50px;
    margin-bottom: 30px;
    position: relative;
}
.service-box-1 h4{
    margin: 0;
}
.service-box-1 p{
    margin-top: 10px;
}
.service-box-1 .icon{
    position: absolute;
    left: -50px;
    font-size: 33px;
    color: #09B0DA;
}

/* ABOUT */
.people-block{
    margin-top: 25px;
}
.people-block:hover .people-desc,  .people-block:hover figure {
    border-color: #111;
}
.people-desc {
    padding: 15px;
    border:1px solid #CCC;
    border-top:none;
    position: relative;
}
.people-desc:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFF;
    border-width: 15px;
    margin-left: -15px;
}
.people-desc .people-name {
    margin-top: 5px;
    font-size: 18px;
    display: block;
}
.people-desc .people-job {
    margin-bottom: 10px;
    font-size: 13px;
    color: #CCC;
    display: block;
}
.owl-item .people-block {
    margin-right: 15px;
}
.people-block figure {
    border:1px solid #CCC; 
    border-bottom: none;
}
.people-block img {
    width: 100%;
}
/* TESTIMONIAL */
.carousel.testimonial .carousel-control{


}
.carousel.testimonial .carousel-control.left,.carousel.testimonial .carousel-control.right{
    background-image:none;
}
.carousel.testimonial .carousel-control img{
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
}
.carousel.testimonial .carousel-control.left img{
    left: 20px;
}
.carousel.testimonial .carousel-control.right img{
    right: 20px;;
}
.testi-wrapper{
    width: 100%;
    display: table;
}
.testi-img,.testi-content{
    display: table-cell;
    text-align: center; 
}
.testi-img{
    vertical-align: middle;
}
.testi-img img{
    border-radius: 50%;
}
.testi-content{
    height: 100%;
    min-height: 200px;
    padding: 7%;
    background: #FAFAFA;
    vertical-align: middle;
    width: 50%;
}
.testi-content p{
    margin: 0;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}
.testi-content p::before{
    display: block;
    font-family:sans-serif;
    content: '"';
    position: absolute;
    font-size: 85px;
    color: #EFEFEF;
}
@media (max-width:720px){
    .testi-img{
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }
    .testi-content{
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }
}
/*.testi-img{
    width: 50%;
    float: left;
    position: relative;
}
.testi-img img{
    position: relative;
    left: 50%;
    margin-left: -50px;
    border-radius: 50%;
}
.testi-content{
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
}*/
/* PORTFOLIO */
.masonry-link{
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.masonry-link:hover > .masonry-shadow{
    top: 5%;
    background: rgba(255,255,255,.93);
}
.masonry-link:hover > .masonry-title{
    bottom: 50%;
    color: rgba(0,0,0,1);
}
.masonry-shadow,.masonry-title{
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.masonry-shadow{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top:0%;
    background: rgba(0,0,0,0);
}
.masonry-title{
    position: absolute;
    display: block;
    bottom: 48%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    width: 100%;
    text-align: center;
    padding: 0 15%;
    font-weight: 700;
    color: rgba(255,255,255,0);
}
.filters{
    display: inline-block;
    margin-bottom: 30px;
    border: 1px solid #09B0DA;
}
.filters .btn{
    background: #FFF;
    color: #DDD;
    font-weight: 700;
}
.filters .btn.active,.filters .btn:focus, .filters .btn {
    box-shadow: none;
}
.filters .btn:hover,.filters .btn.active{
    color: #09b0da;
}
.portfolio-box{
    background: #5e5e5e;
    overflow: hidden;
}
.portfolio-box .content-wrapper{
    padding: 0;
}
.portfolio-box .portfolio-box-item{
    width: 25%;
    float: left;
    position: relative;
    border-right: 1px solid #FFF;    
}
.portfolio-slider .owl-controls{
    display: none;
}
.owl-item .portfolio-box-item.item{
    width: 100%;
    /* height: 100%; */
}
.portfolio-box .portfolio-box-item .caption,.portfolio-box .portfolio-box-item .item-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.portfolio-box .portfolio-box-item .item-filter{
    background: #002f3e;
    opacity:0.4;
}
.portfolio-box .portfolio-box-item .caption{
    background: rgba(10,147,182,0.9);
    opacity: 0;
    transition: 0.15s opacity ease-in-out;
    -o-transition: 0.15s opacity ease-in-out;
    -moz-transition: 0.15s opacity ease-in-out;
    -webkit-transition: 0.15s opacity ease-in-out;
}
.portfolio-box .portfolio-box-item .caption:hover{
    opacity: 1;
}
.portfolio-box .portfolio-box-item .caption .caption-heading{
    color: #FFF;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 30px 30px 30px;
}
.portfolio-box .portfolio-box-item .caption .caption-heading h4{
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.portfolio-box .portfolio-box-item .caption .caption-heading small{
    font-size: 16px;
    letter-spacing: 1px;
}
.portfolio-box .portfolio-box-item .caption .caption-button{
    color: #FFF;
    position: absolute;
    top:50%;
    margin-top: -22px;
    left:50%;
    margin-left: -40px;
    border:1px solid #FFF;    
    border-radius: 3px;
}
.portfolio-box .portfolio-box-item .caption .caption-button a{
    height: 40px;
    width: 40px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    float:left;
}
.portfolio-box .portfolio-box-item .caption .caption-button a:hover{
    background: rgba(255,255,255,0.1);
}
.portfolio-box .portfolio-box-item .caption .caption-button a:first-child{
    border-right: 1px solid #FFF;
}

/* PRICING TABLES */
.cd-header {
    height: 100px;
    line-height: 170px;
    position: relative;
}
.cd-header h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
    .cd-header {
        height: 160px;
        line-height: 280px;
    }
    .cd-header h1 {
        font-size: 3.6rem;
        font-weight: 300;
    }
}

.cd-pricing-container {
    /* width: 90%; */
    max-width: 1170px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .cd-pricing-container {
        margin: 0 auto;
    }
    .cd-pricing-container.cd-full-width {
        width: 100%;
        max-width: none;
    }
}

.cd-pricing-list {
    /* margin: 2em 0 0; */
}
.cd-pricing-list > li {
    position: relative;
    margin-bottom: 1em;
    background-color: #FFFFFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Firefox bug - 3D CSS transform, jagged edges */
    outline: 1px solid transparent;
}
.cd-pricing-list > li::after {
    /* subtle gradient layer on the right - to indicate it's possible to scroll */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    pointer-events: none;
    background: -webkit-linear-gradient( right , #FFFFFF, rgba(255, 255, 255, 0));
    background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}
.cd-pricing-list > li.is-ended::after {
    /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
    display: none;
}
@media only screen and (min-width: 768px) {
    .cd-pricing-list {
        /* margin: 3em 0 0; */
    }
    .cd-pricing-list:after {
        content: "";
        display: table;
        clear: both;
    }
    .cd-pricing-list > li {
        width: 33.3333333333%;
        float: left;
    }
    .cd-pricing-list > li::before {
        /* separator between pricing tables - visible when number of tables > 3 */
        content: '';
        position: absolute;
        z-index: 6;
        left: -1px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
        background-color: #b1d6e8;
    }
    .cd-pricing-list > li::after {
        /* hide gradient layer */
        display: none;
    }
    .cd-pricing-list > li.cd-popular {
        box-shadow: inset 0 0 0 3px #e97d68;
    }
    .cd-pricing-list > li.cd-popular::before {
        /* hide table separator for .cd-popular table */
        display: none;
    }
    .cd-pricing-list > li.cd-popular + li::before {
        /* hide table separator for tables following .cd-popular table */
        display: none;
    }
    .cd-has-margins .cd-pricing-list > li, .cd-has-margins .cd-pricing-list > li.cd-popular {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
    .cd-secondary-theme .cd-pricing-list > li {
        background: #3aa0d1;
        background: -webkit-linear-gradient( bottom , #3aa0d1, #3ad2d1);
        background: linear-gradient(to top, #3aa0d1, #3ad2d1);
    }
    .cd-secondary-theme .cd-pricing-list > li.cd-popular {
        background: #e97d68;
        background: -webkit-linear-gradient( bottom , #e97d68, #e99b68);
        background: linear-gradient(to top, #e97d68, #e99b68);
        box-shadow: none;
    }
    .cd-pricing-list:nth-of-type(1)::before {
        /* hide table separator for the first table */
        display: none;
    }
    .cd-has-margins .cd-pricing-list > li {
        width: 32.3333333333%;
        float: left;
        margin-right: 1.5%;
        border-radius: 4px 4px 6px 6px;
    }
    .cd-has-margins .cd-pricing-list > li:last-of-type {
        margin-right: 0;
    }
    .cd-has-margins .cd-pricing-list > li::before {
        display: none;
    }
}
@media only screen and (min-width: 1500px) {
    .cd-full-width .cd-pricing-list > li {
        padding: 2.5em 0;
    }
}

@media only screen and (min-width: 768px) {
    .cd-popular .cd-pricing-wrapper > li::before {
        /* hide table separator for .cd-popular table */
        display: none;
    }
}
.cd-pricing-header {
    position: relative;
    z-index: 1;
    height: 80px;
    padding: 1em;
    pointer-events: none;
    background-color: #0c1f28;
    color: #FFFFFF;
}
.cd-pricing-header h2 {
    margin-bottom: 3px;
    font-weight: 700;
    text-transform: uppercase;
}
.cd-popular .cd-pricing-header {
    background-color: #09B0DA;
}
@media only screen and (min-width: 768px) {
    .cd-pricing-header {
        height: auto;
        padding: 1.9em 0.9em 1.6em;
        pointer-events: auto;
        text-align: center;
        color: #173d50;
        background-color: transparent;
    }
    .cd-popular .cd-pricing-header {
        color:#FFF;
	/*background-color: transparent;*/
    }
    .cd-secondary-theme .cd-pricing-header {
        color: #FFFFFF;
    }
    .cd-pricing-header h2 {
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
}

.cd-currency, .cd-value {
    font-size: 3rem;
    font-weight: 300;
}

.cd-duration {
    font-weight: 700;
    font-size: 1.3rem;
    color: #8dc8e4;
    text-transform: uppercase;
}
.cd-popular .cd-duration {
    /* color: #f3b6ab; */
}
.cd-duration::before {
    content: '/';
    margin-right: 2px;
}

@media only screen and (min-width: 768px) {
    .cd-value {
        font-size: 7rem;
        font-weight: 300;
    }

    .cd-currency, .cd-duration {
        color: rgba(23, 61, 80, 0.4);
    }
    .cd-popular .cd-currency, .cd-popular .cd-duration {
        color: #FFF;
    }
    .cd-secondary-theme .cd-currency, .cd-secondary-theme .cd-duration {
        color: #FFF;
    }
    .cd-secondary-theme .cd-popular .cd-currency, .cd-secondary-theme .cd-popular .cd-duration {
        color: #ba6453;
    }

    .cd-currency {
        display: inline-block;
        margin-top: 10px;
        vertical-align: top;
        font-size: 2rem;
        font-weight: 700;
    }

    .cd-duration {
        font-size: 1.4rem;
    }
}
.cd-pricing-body {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
    .cd-pricing-body {
        overflow-x: visible;
    }
}
@media only screen and (max-width: 767px) {
    .cd-pricing-header h2 {
        float: left;
        margin-top: 0;
    }
    .cd-price{
        float: right;
    }
}

.cd-pricing-features {
    width: 600px;
}
.cd-pricing-features:after {
    content: "";
    display: table;
    clear: both;
}
.cd-pricing-features li {
    width: 100px;
    float: left;
    padding: 1.6em 1em;
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cd-pricing-features em {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    .cd-pricing-features {
        width: auto;
    }
    .cd-pricing-features li {
        float: none;
        width: auto;
        padding: 1em;
    }
    .cd-popular .cd-pricing-features li {
        margin: 0 3px;
    }
    .cd-pricing-features li:nth-of-type(2n+1) {
        background-color: rgba(23, 61, 80, 0.06);
    }
    .cd-pricing-features em {
        display: inline-block;
        margin-bottom: 0;
    }
    .cd-has-margins .cd-popular .cd-pricing-features li, .cd-secondary-theme .cd-popular .cd-pricing-features li {
        margin: 0;
    }
    .cd-secondary-theme .cd-pricing-features li {
        color: #FFFFFF;
    }
    .cd-secondary-theme .cd-pricing-features li:nth-of-type(2n+1) {
        background-color: transparent;
    }
}

.cd-pricing-footer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* on mobile it covers the .cd-pricing-header */
    height: 80px;
    width: 100%;
}
.cd-pricing-footer::after {
    /* right arrow visible on mobile */
    content: '';
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    /* background: url(../img/cd-icon-small-arrow.svg); */
}
@media only screen and (min-width: 768px) {
    .cd-pricing-footer {
        position: relative;
        height: auto;
        padding: 1.8em 0;
        text-align: center;
    }
    .cd-pricing-footer::after {
        /* hide arrow */
        display: none;
    }
    .cd-has-margins .cd-pricing-footer {
        padding-bottom: 0;
    }
}

.cd-select {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    /* hide button text on mobile */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}
@media only screen and (min-width: 768px) {
    .cd-select {
        position: static;
        display: inline-block;
        height: auto;
        padding: 1.3em 3em;
        color: #FFFFFF;
        background-color: #0c1f28;
        font-size: 1.4rem;
        text-indent: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .no-touch .cd-select:hover {
        background-color: #112e3c;
    }
    .cd-popular .cd-select {
        background-color:#09B0DA;
    }
    .no-touch .cd-popular .cd-select:hover {
        background-color: #ec907e;
    }
    .cd-secondary-theme .cd-popular .cd-select {
        background-color: #09B0DA;
    }
    .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
        background-color: #09B0DA;
    }
    .cd-has-margins .cd-select {
        display: block;
        padding: 1.7em 0;
    }
}

/* BLOG */
.post {
    display: block;
    margin-left: 130px;
    position: relative;
    text-align: left;
}
.post {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.post figure {
    margin-bottom: 20px;
    position: relative;
}
.post figure img {
    width: 100%;
}
.post .post-meta {
    width: 100px;
    position: absolute;
    top: 0;
    left: -130px;
}
.post .post-meta .post-icon {
    width: 50px;
    height: 50px;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    line-height: 53px;
    background: #494949;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.post .post-meta .post-icon:hover {
    background: #09B0DA;
}
.post .post-meta h5 {
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 700;
}
.post .post-meta span {
    font-size: 13px;
    font-weight: 300;
}
.post .post-meta span a {
    color: #4cddf3;
}
.post .post-title {
    font-size: 22px;
    line-height: 20px;
}
.post .post-title a {
    color: #25292c;
}

.post pre {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0;
}
.post .read-more {
    padding:4px 7px;
    border:1px solid #4cddf3;
    display: inline-block;
    font-size: 14px;
}
@media (max-width: 768px) {
    .post {
        margin-left: 0;
    }
    .post .post-meta {
        display: block;
        margin: 10px 0;
        width: 100%;
        position: relative;
        left: 0;
    }
    .post .post-meta h5, .post .post-meta span {
        display: inline;
    }
    .post .post-meta span {
        margin-right: 13px;
        padding-left: 5px;
    }
    .post .post-meta .post-icon {
        display: none;
    }
}
/*
    BLOG AUTHOR
*/
.post-author {
    padding: 0 20px 40px 20px;
    border: 1px solid #EDEDED;
    position: relative;
    background: #f5f5f5;
}
.post-author .blog-author-content {
    position: relative;
    display: block;
}
.post-author figure {
    width: 120px;
    position: relative;
}
.post-author .blog-author-info {
    margin-left: 120px;
    position: absolute;
    top: 0;
}
.post-author .media-heading a {
    color: #111;
}
.post-author .blog-author-info p {
    position: relative;
}
/* BLOG COMMENTS */
.blog-comments > h2 span {
    font-size: 13px;
    display: block;
    margin-top: 10px;
}
.blog-comments form {
    margin-bottom: 40px;
}
.blog-comments .blog-comment-content figure img {
    border-radius: 50%;
    width: 60px;
    height: auto;
}
.blog-comments .blog-comment-content .comment-meta {
    display: block;
}
.blog-comments .blog-comment-content .comment-meta .media-heading {
    display: inline-block;
}
.blog-comments .blog-comment-content .comment-meta .in-reply, .blog-comments .blog-comment-content .comment-meta span.time {
    font-size: 12px;
    padding-left:15px;
}
.blog-comments .blog-comment-content .comment-meta .comment-extra {
    display: inline-block;
}
.blog-comments .blog-comment-content .media-list li {
    padding: 15px;
}
.blog-comments .blog-comment-content .media-list li:nth-child(2n+1) {
    background: #f5f5f5;
}
.blog-comments .blog-comment-content .media-body .media-heading a {
    color: #111;
    padding-bottom: 1px;
    border-bottom: 1px dotted #85939b;
}
/*
    WIDGET
*/
.widget {
    display: block;
    margin-bottom: 40px;
    text-align: left;
}
.widget .widget-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
}
.widget ul {
    padding: 0;
    margin: 0;
}
.widget ul li {
    list-style: none;
}
.widget .input-default {
    border-radius: 3px;
    padding: 3px;
    border:none;
    display: inline-block;
}
/* Audio Player Blog */
.audio-wrapper {
    width: 90%;
    left: 5%;
    top: 80%;
    float: left;
    clear: both;
    position: absolute;
    background: #474747;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #474747 0%, #363636 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, #363636));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #474747 0%, #363636 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #474747 0%, #363636 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #474747 0%, #363636 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #474747 0%, #363636 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#363636', GradientType=0);
    /* IE6-8 */
    height: 50px;
    box-shadow: 0px 0px 3px #1E1E1E;
    -webkit-box-shadow: 0px 0px 3px #1e1e1e;
}
.audio-wrapper > div {
    box-shadow: inset 1px 1px 1px #5F5F5F;
    padding-bottom: 10px;
}
/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
    position: absolute;
    list-style-type: none;
}
.mejs-container .mejs-controls div {
    display: block;
    float: left;
}
.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
}
.mejs-controls .mejs-time-rail span {
    display: block;
    position: absolute;
    cursor: pointer;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    background: transparent;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: transparent;
    width: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    background: transparent;
    width: 0;
}
.mejs-controls .mejs-volume-button:hover {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/* end media element reset */

/* media element controls wrapper */
.mejs-controls {
    position: relative;
    height: 15px;
    margin-top: 15px;
    width: 96%;
    margin-left: 2.5%;
    float: left;
    background: transparent;
}
/* play button */
.mejs-controls .mejs-play button {
    width: 21px;
    height: 21px;
    margin-top: 3px;
    margin-left: 3px;
    background: url(../images/play-small.png) 0 0 no-repeat;
    border: none;
    outline: none;
    float: left;
}
/* pause button */
.mejs-controls .mejs-pause button {
    width: 21px;
    height: 21px;
    margin-top: 3px;
    margin-left: 3px;
    background: url(../images/pause.png) 0 0 no-repeat;
    border: none;
    outline: none;
    float: left;
}
.mejs-audio {
    width: 100% !important;
    margin: 0px;
    float: left;
    position: relative;
    left: 0px;
}
.mejs-controls .mejs-time-float, .mejs-controls .mejs-time-handle, .mejs-controls .mejs-time {
    display: none !important;
}
/* progress bar wrapper */
.mejs-controls .mejs-time-rail {
    position: relative;
    background: none;
    width: 70% !important;
    float: left;
    margin-left: 1.5%;
    clear: none;
    margin-top: 3px;
    height: 13px;
    overflow: hidden;
    padding: 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    border-bottom: 1px solid #3F3F3F;
    border-right: 1px solid #3F3F3F;
    box-shadow: inset 0px 0px 16px #121212;
    -webkit-box-shadow: inset 0px 0px 16px #121212;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering, .mejs-controls .mejs-time-rail .mejs-time-loaded, .mejs-controls .mejs-time-rail .mejs-time-current {
    height: 13px;
}
/* progress */
.mejs-controls .mejs-time-rail .mejs-time-buffering {
    background: none;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: none;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: none;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #4cddf3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
/* audio bar */
.mejs-controls .mejs-volume-button {
    float: left;
    position: absolute;
    left: 78%;
    top: 3px;
}
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
    width: 19px;
    height: 14px;
    border: none;
    outline: none;
    top: 14px;
    left: 588px;
}
.mejs-controls .mejs-mute button {
    background: url(../images/volume.png) no-repeat;
}
.mejs-controls .mejs-unmute button {
    background: url(../images/volume-muted.png) no-repeat;
}
.mejs-horizontal-volume-slider {
    box-shadow: inset 0px 0px 16px #121212;
    -webkit-box-shadow: inset 0px 0px 16px #121212;
    display: block;
    position: relative;
    height: 16px;
    width: 90px;
    left: 8%;
    margin-top: 2px;
    border-radius: 3px;
}
.mejs-horizontal-volume-total {
    height: 12px;
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
    width: 100%;
}
.mejs-horizontal-volume-current {
    background: #4cddf3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 14px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0px;
}
@media (max-width: 768px) {
    .mejs-controls .mejs-time-rail {
        width: 45% !important;
    }
    .mejs-horizontal-volume-slider {
        display: none !important;
    }
    .mejs-controls .mejs-volume-button {
        left: 55%;
    }
}
/* COUNTDOWN TIMER */
.styled {
    text-align: center;
    color: #000;
}
.styled div {
    display: inline-block;
    margin-left: 25px;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    //text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.4);
}
/* IE7 inline-block hack */
*+html .styled div {
    display: inline;
    zoom: 1;
}
.styled div:first-child {
    margin-left: 0;
}
.styled div span {
    display: block;
    width: 100px;
    margin-top: 10px;
    padding: 8px 12px;
    background: #09B0DA;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}

/* PAGE ELEMENT */
.padding-bottom-60{
    padding-bottom: 60px;
}
.no-padding{
    padding: 0;
}
.bg-color{
    background: #09B0DA;
    color: #FFF;
}

/* BOOTSTRAP ELEMENT */
/* CAROUSEL FADE */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    //-webkit-transition-property: opacity;
    //transition-property: opacity;
    transition:opacity 0.4s ease;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fullscreen .carousel-caption{
    padding: 0;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    transition:opacity 0.4s ease;
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel-fullscreen,
.carousel-fullscreen .item,
.carousel-fullscreen .active {
    height: 100%;
}

.carousel-fullscreen .carousel-inner {
    height: 100%;
}
.carousel-fullscreen .carousel-caption{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.carousel-fullscreen .carousel-control{
    height: 100%;
}
.carousel-fullscreen .carousel-control img{
    position: absolute;
    height:120px;
    top:50%;
    margin-top: -60px;
}
.carousel-fullscreen .carousel-control.left img{
    left: 10px;
}
.carousel-fullscreen .carousel-control.right img{
    right: 10px;
}
/* Animation of the content inside the header */
.header-center {
    position: absolute;
    left: 50%;
    margin-left: -40%;
    top: 45%;
    width: 80%;
    display: inline-block;
    text-shadow: none;

}
.header-center h1{
    font-size: 60px;
    font-weight: 700;
    padding: 2%;
    display: inline-block;
    border:5px solid #FFF;
    text-transform: uppercase;
    margin-top: 0;
}
@media (max-width:720px){
    .header-center h1{
        font-size: 40px;
        font-weight: 600;
        padding: 2%;
        display: inline-block;
        border:3px solid #FFF;
        text-transform: uppercase;
    }
}
.header-center p{
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-bottom: 0;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: table;
    position: relative;
}
.fill::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,47,62,0.25);
}
/*
    NAV
*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #FFF;
    color: #111;
    border-radius: 0;
    webkit-border-radius: 0;
    border-top: 2px solid #09B0DA;
    border-left: none;
    border-right: 1px solid #CCC;
    padding: 10px 15px;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    overflow: hidden;
}
@media screen and (max-width: 440px) {
    .nav-tabs li {
        width: 30%;
    }
}
.nav-tabs > li > a {
    font-weight: 700;
    font-size: 14px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid transparent;
    border-left: none;
    margin: 0;
    border-radius: 0;
    background: #FAFAFA;
    color: #CCC;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs > li.active:first-child > a:hover {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #transparent;
}
.nav-tabs > li > a {
    border-bottom: 1px solid #CCC;
}
.nav-tabs > li > a:hover {
    background: #FFF;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: none;
}
.nav-tabs > li:first-child > a {
    border-left: 1px solid #CCC;
}
.tab-content {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    padding: 15px;
    margin-top: -2px;
}
/*
    ACCORDION
*/
.panel-group .panel {
    margin-bottom: 5px;
}
.panel-group .panel {
    border:0;
    border-radius: 0;
    margin-top: 0 !important;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    border-radius: 0;
    border-top:1px solid transparent;
    padding: 5px;;
}
.panel-default>.panel-heading {
    color: #111;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-left: 2px solid #09B0DA ;
}
.panel-title {
    font-size:14px;
    font-weight: 700;
    display: block;
}
.panel-title a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
.panel-title a:hover {
    color: #3F3F3F;
}
.panel-body {
    background: #FFF;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0;
}
/*
    ALERTS
*/
.alert {
    border-radius: 0;
    padding: 15px;
    margin-bottom: 10px;
    border:none;
    color: #FFF;
    font-size: 16px;
}
.alert-dismissable .close {
    right: -15px;
    top: -15px;
    width: 20px;
    height: 20px;
    background: #1A1E22;
    color: inherit;
    opacity: 1;
    text-shadow: none;
}
.alert-warning {
    background: #deb14d;
}
.alert-success {
    background: #70bc70;
}
.alert-info {
    background: #52adda;
}
.alert-danger {
    background: #c46868;
}
/*
    PROGRESS BAR
*/
.progress {
    height: 25px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: none;
}
.progress-bar {
    padding: 20px;
}
/* PAGINATION */
.pagination {
    width: 100%;
    padding: 6px;
    border-radius: 0;
}
.pagination .pag-prev a, .pagination .pag-next a {
    background: #09B0DA;
    color: #FFF;
    border-color:#09B0DA;
}

.pagination .pag-prev a:hover, .pagination .pag-next a:hover {
    background: #494949;
    color: #FFF;
    border-color: #DDD;
}
.pagination li.active a {
    background: #494949;
    color:#FFF;
    border-color: #DDD;
    pointer-events: none;
}
.pagination li a {
    margin: 0 3px;
    border-color: #EDEDED;
    color: #111;
    font-size: 13px;
    border-radius: 3px;
    margin: 3px;
}
.pagination li a:hover {
    background: #EEE;
    color: #111;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
/* input */
.input-group.page_404{
    border:1px solid #EEE;
}
.input-group.page_404:hover,.input-group.page_404:focus{
    border:#CCC 1px solid;
}
.input-group.page_404 input{
    height: 40px;
    border:none;
    box-shadow: none;
}
.input-group.page_404 input:focus{
    box-shadow: none;
}
.page_404 .input-group-btn .btn{
    height: 40px;
    background: none;
    color: #CCC;
    line-height: 0px;
}
.page_404 .input-group-btn .btn:hover{
    color: #09B0DA;
}
/* FORM */
.form-control:focus{
    border-color: rgba(136,136,136,1);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(136,136,136,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(136,136,136,1);
    box-shadow: 0px 0px 1px 0px rgba(136,136,136,1);
}
/*
    ICON
*/
.bs-glyphicons {
    margin: 0 -19px 20px -16px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
    background-color: #f9f9f9;
}

/* WELL */
.well{
    box-shadow: none;
    border-radius: 0;
    background: #FAFAFA;
}
/* BOOTSTRAP CLEAR COLUMN */

/*  Tablet  */
@media (min-width:767px){

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: none;
    }
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: left;
    }
}


/*  Medium Desktop  */
@media (min-width:992px){

    /* Column clear fix */
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        clear: none;
    }
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1){
        clear: left;
    }
}


/*  Large Desktop  */
@media (min-width:1200px){

    /* Column clear fix */
    .col-md-1:nth-child(12n+1),
    .col-md-2:nth-child(6n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-6:nth-child(2n+1),
    .col-sm-1:nth-child(12n+1),
    .col-sm-2:nth-child(6n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-6:nth-child(2n+1){
        /* clear: none; */ 
    }
    .col-lg-1:nth-child(12n+1),
    .col-lg-2:nth-child(6n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-6:nth-child(2n+1){
        clear: left;
    }
}